@import url('https://fonts.googleapis.com/css2?family=Amarna:ital,wght@0,100..700;1,100..700&family=Bitcount+Prop+Double+Ink:wght@100..900&family=Bitcount+Prop+Single:wght@100..900&display=swap');
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
}

.avatar{
    width: 200px;
    height: 200px;
    margin: 30px;}

.avatar img {
    width: 200px;
    height: 200px;
    border-radius: 60%;}

.icon {
    font-size: 30px;
}

h2 {
    font-size: 44px;
    color: cadetblue;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: "Bitcount Prop Double Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}


.form {
    text-align: center;
    margin:80px;
    position: relative;
}

.form p{
    font-size: large;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.circle-row {
    display: flex;
    justify-content: space-around;
}

.circle {
    width: 150px;
    height: 90px;
    background: #9bf83e;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.section {
    display: none;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}
