@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Bitcount+Prop+Single:wght@100..900&display=swap');

body{
    background-color: rgb(100, 34, 34);
    background-size: cover;
}
h1{
    color: rgb(72, 193, 11);
    text-align: center;
    font-family: "Bitcount Prop Single", sans-serif;
}

.One h4{
    color: coral;
    font-size: x-large;
    font-weight: 100px;
    font-family: "Bitcount Prop Single", sans-serif;
}
.One p{
    font-style: oblique;
    font-size: large;
    color: rgb(224, 188, 25);
    font-family: "Bitcount Prop Single", sans-serif;
}

img{
    display: block;
    margin: auto;
    border: 2px solid ;
    color: rgba(rgba(255, 0, 0, 0.137), green, blue, alpha);
    height: 400px;
}